{% extends "raster_viewer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}


{% block global_scripts %}
  {{ block.super }}
  <script src="{% static 'raster_viewer/vendor/openlayers/v3.11.2-dist/ol.js' %}" type="text/javascript"></script>
  <script src="{% static 'raster_viewer/vendor/jscolor/v2.0.4/jscolor.js' %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'raster_viewer/vendor/openlayers/v3.11.2-dist/ol.css' %}" type="text/css" />
  <style>
    .ol-mouse-position {
      top: 10px;
      right: 40px;
    }

    #byu-logo-container {
    float: left;
    position: absolute;
    bottom: 8px;
    }
    #byu-logo-container img {
    float: left;
    height: 50px;
    width: 50px;
    }
    #byu-logo-container span {
    position: relative;
    top: 25px;
    margin-left: 10px;
    }
  </style>
{% endblock %}


{% block app_navigation_items %}
    <div id="nav-buttons">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#welcome-popup">Instruction</button>
        <a class="btn btn-default" href="https://github.com/zhiyuli/tethysapp-raster_viewer" target="_blank">More Info</a>
    </div>

    <div id="layer_control_div">
    </div>
    <div id="data_loading_div">
    </div>
    <div id="color-picker" style="visibility: hidden">
        <p>
            Pick color for the Min and Max values:<br>
            <p>Min: <input class="jscolor" id="min-color" value="000000"></p>
            <p>Max: <input class="jscolor" id="max-color" value="FFFFFF"></p>
        </p>
        <input id="refresh_map" type="button" onclick="refreshmap()" value="Apply"/>
        <input id="reset_map" type="button" onclick="resetmap()" value="Reset"/>
    </div>
    <!--<div id="nodelist">-->
        <!--<em>Click on the map to get feature info</em>-->
    <!--</div>-->

{% endblock %}

{% block app_content %}

<div>
    <div style="float: left; width: 30%">
    <div id="location" ></div>
    <div id="scale"></div>
    </div>
    <div id="resource_title" style="float: top"><h4>{% if resource_title %}{{resource_title}}{% else %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</h4></div>
</div>

<div id="map" class="map"></div>

<div id="success_flag" style="display: none;">
    {% if success_flag %}
        {{ success_flag }}
    {% else %}
        false
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}


<div class="modal fade" id="error-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <div id="error-title">
                    {% autoescape off %}
                        {% if popup_title %}
                            {{popup_title}}
                        {% endif %}
                    {% endautoescape %}
                    <!--Welcome to the HydroShare Raster Viewer!-->
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div id="error-info">
                            {% autoescape off %}
                                {% if popup_content %}
                                        {{ popup_content }}
                                {% endif %}
                            {% endautoescape %}
                        <!--This app should be launched from <a href="https://www.hydroshare.org">HydroShare</a>.-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="welcome-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Welcome to the HydroShare Raster Viewer!
                </h4>
            </div>
            <div class="modal-body">
                <div id="welcome-info">
                    <div class="form-group">
                        <p>
                            This app should be launched from a Raster Resource landing page on <a href='https://www.hydroshare.org/my-resources/'>HydroShare</a>.
                            <br><br>
                            To test this app:
                            <br>
                            1) Sign in with your HydroShare account.
                            <br>
                            2) Input a Raster Resource ID
                            <br>
                            3) Click "Go"
                        </p>
                        <label for="res-id" class="control-label">Raster Resource ID:</label>
                        <input type="text" class="form-control" id="res-id" value="c813e5c26ba24222ba1b73f43943aca6">
                        <input type="button" class="btn btn-default" id="btn-testing-url" value="Go">
                    </div>
                    <div id="extra-buttons">
                        <a class="btn btn-default" href="https://github.com/zhiyuli/tethysapp-raster_viewer" target="_blank">More Info</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="byu-logo-container">
                    <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
                    <img src="{% static 'raster_viewer/images/byu-logo.png' %}"/>
                </div>
                <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'raster_viewer/js/map.js' %}" type="text/javascript"></script>

{% endblock %}
